@model MvcTask.Web.Areas.Common.Models.GameCreateViewModel

@{
    this.ViewBag.Title = "Create";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Create new game</legend>
    @using (this.Html.BeginForm())
    {
        @(this.Html.AntiForgeryToken())
        @(this.Html.ValidationSummary(true))

        @(this.Html.EditorForModel("NewGameTemplate"))

        <p>
            <input type="submit" value="Create"/>
        </p>
    }
</fieldset>