@model IEnumerable<MvcTask.Web.Models.GameViewModel>

@{
    this.ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @(this.Html.ActionLink("Create New", "Create"))
</p>
<table>
    <tr>
        <th></th>
    </tr>

@foreach (var item in this.Model) {
    <tr>
        <td>
            @(this.Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })) |
            @(this.Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })) |
            @(this.Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }))
        </td>
    </tr>
}

</table>
