@model IEnumerable<MvcTask.Web.Models.GameViewModel>

<p>
    @(this.Html.ActionLink("Create New", "Create"))
</p>

@(this.Html.DisplayForModel("GameListTemplate"))

<div>
    @(this.Html.ActionLink("Download game", "Download", "Game", null, new { target = "_blank" }))
</div>